{
  "extends": "eslint:recommended",
  "globals": {
    "window":true,
    "document":true,
  },
  "env":{
    "browser": true,
    "node":true,
    "es6":true
  },
  "rules": {
    "semi": ["error", "always"],
    "quotes": "off",
    "no-console":"off",
    "no-unused-vars":"off",
    "no-unreachable":"off",
    "no-redeclare":"warn",
    "no-sparse-arrays": 0
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      // 允许在全局作用域下使用 return 语句
      "globalReturn": true,
      // impliedStric
      "impliedStrict": true,
      // 启用 JSX
      "jsx": true,
      "modules": true
    }
  }
}
