<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xtits.xtp.mapper.UserMapper">

    <select id="getUserByAppUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">

        select
        <include refid="Base_Column_List"/>
        from `user`
        where AppUserId = #{appUserId,jdbcType=INTEGER} and AppId = #{appId,jdbcType=INTEGER}
    </select>

    <select id="listUserByRoleId" parameterType="java.lang.Integer" resultMap="BaseResultMap">

        select * from `user`
        where Id in
        (
        select userId from `roleuser`
        where roleId = #{roleId,jdbcType=INTEGER}
        )
    </select>

</mapper>